<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.huajia.mapper.ShopHuajiaMapper">
    
    <resultMap type="ShopHuajia" id="ShopHuajiaResult">
        <result property="id"    column="id"    />
        <result property="createDate"    column="create_date"    />
        <result property="day"    column="day"    />
        <result property="name"    column="name"    />
        <result property="getPayMoney"    column="get_pay_money"    />
        <result property="getWechatMoney"    column="get_wechat_money"    />
        <result property="getMoney"    column="get_money"    />
        <result property="getAllMoney"    column="get_all_money"    />
        <result property="putMoney"    column="put_money"    />
        <result property="putHouseMoney"    column="put_house_money"    />
        <result property="actualMoney"    column="actual_money"    />
        <result property="guoSalary"    column="guo_salary"    />
        <result property="shuoSalary"    column="shuo_salary"    />
        <result property="putContent"    column="put_content"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap type="com.ruoyi.shop.huajia.vo.HuaJiaTongJiVo" id="ShopHuaJiaTongjiVo">
        <result property="curMonth"    column="curMonth"    />
        <result property="curGetAllMoney"    column="curGetAllMoney"    />
        <result property="curPutAllMoney"    column="curPutAllMoney"    />
        <result property="curActualMoney"    column="curActualMoney"    />
        <result property="curGengMoney"    column="curGengMoney"    />
        <result property="curFengMoney"    column="curFengMoney"    />
        <result property="curFengaAndShuoMoney"    column="curFengaAndShuoMoney"    />
    </resultMap>

    <sql id="selectShopHuajiaVo">
        select id, create_date, day, name, get_pay_money, get_wechat_money, get_money, get_all_money, put_money, put_house_money, actual_money, guo_salary, shuo_salary, put_content, remark from shop_huajia
    </sql>

    <select id="selectShopHuajiaList" parameterType="ShopHuajia" resultMap="ShopHuajiaResult">
        <include refid="selectShopHuajiaVo"/>
        <where>  
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="day != null  and day != ''"> and day = #{day}</if>
            <if test="getAllMoney != null "> and get_all_money = #{getAllMoney}</if>
            <if test="id != null "> and id = #{id}</if>
        </where>
        order by create_date desc
    </select>
    
    <select id="selectShopHuajiaById" parameterType="Long" resultMap="ShopHuajiaResult">
        <include refid="selectShopHuajiaVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShopHuajia" parameterType="ShopHuajia">
        insert into shop_huajia
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="createDate != null">create_date,</if>
            <if test="day != null">day,</if>
            <if test="name != null">name,</if>
            <if test="getPayMoney != null">get_pay_money,</if>
            <if test="getWechatMoney != null">get_wechat_money,</if>
            <if test="getMoney != null">get_money,</if>
            <if test="getAllMoney != null">get_all_money,</if>
            <if test="putMoney != null">put_money,</if>
            <if test="putHouseMoney != null">put_house_money,</if>
            <if test="actualMoney != null">actual_money,</if>
            <if test="guoSalary != null">guo_salary,</if>
            <if test="shuoSalary != null">shuo_salary,</if>
            <if test="putContent != null">put_content,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="day != null">#{day},</if>
            <if test="name != null">#{name},</if>
            <if test="getPayMoney != null">#{getPayMoney},</if>
            <if test="getWechatMoney != null">#{getWechatMoney},</if>
            <if test="getMoney != null">#{getMoney},</if>
            <if test="getAllMoney != null">#{getAllMoney},</if>
            <if test="putMoney != null">#{putMoney},</if>
            <if test="putHouseMoney != null">#{putHouseMoney},</if>
            <if test="actualMoney != null">#{actualMoney},</if>
            <if test="guoSalary != null">#{guoSalary},</if>
            <if test="shuoSalary != null">#{shuoSalary},</if>
            <if test="putContent != null">#{putContent},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateShopHuajia" parameterType="ShopHuajia">
        update shop_huajia
        <trim prefix="SET" suffixOverrides=",">
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="day != null">day = #{day},</if>
            <if test="name != null">name = #{name},</if>
            <if test="getPayMoney != null">get_pay_money = #{getPayMoney},</if>
            <if test="getWechatMoney != null">get_wechat_money = #{getWechatMoney},</if>
            <if test="getMoney != null">get_money = #{getMoney},</if>
            <if test="getAllMoney != null">get_all_money = #{getAllMoney},</if>
            <if test="putMoney != null">put_money = #{putMoney},</if>
            <if test="putHouseMoney != null">put_house_money = #{putHouseMoney},</if>
            <if test="actualMoney != null">actual_money = #{actualMoney},</if>
            <if test="guoSalary != null">guo_salary = #{guoSalary},</if>
            <if test="shuoSalary != null">shuo_salary = #{shuoSalary},</if>
            <if test="putContent != null">put_content = #{putContent},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShopHuajiaById" parameterType="Long">
        delete from shop_huajia where id = #{id}
    </delete>

    <delete id="deleteShopHuajiaByIds" parameterType="String">
        delete from shop_huajia where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectTongJi" parameterType="ShopHuajia" resultMap="ShopHuaJiaTongjiVo">
        SELECT
            date_format(DATE_SUB(curdate(), INTERVAL 0 MONTH),'%Y年 %m月') as curMonth,
            SUM(get_all_money) as curGetAllMoney,
            SUM(put_money) as curPutAllMoney,
            SUM(actual_money)	as curActualMoney,
            SUM(guo_salary)	as curFengMoney,
            SUM(shuo_salary)	as curGengMoney,
            SUM(guo_salary)+SUM(shuo_salary) as curFengaAndShuoMoney
        FROM
            shop_huajia
        WHERE
                date_format(create_date, '%Y %m') = date_format(DATE_SUB(curdate(), INTERVAL 0 MONTH),'%Y %m')
        --         //查询当前月份
--         select date_format(DATE_SUB(curdate(), INTERVAL 0 MONTH), '%m')
--         //查询上个月月份
--         select date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%m')
--         //查询下个月份
--         select date_format(DATE_SUB(curdate(), INTERVAL -1 MONTH), '%m')
    </select>

    <select id="selectZheXianTongJi" parameterType="ShopHuajia" resultType="map">
        SELECT
            create_date,get_all_money,actual_money,guo_salary,shuo_salary
        FROM
            shop_huajia
        WHERE
                date_format(create_date, '%Y %m') = date_format(DATE_SUB(curdate(), INTERVAL 0 MONTH),'%Y %m')
        ORDER BY create_date asc
        --         //查询当前月份
--         select date_format(DATE_SUB(curdate(), INTERVAL 0 MONTH), '%m')
--         //查询上个月月份
--         select date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH), '%m')
--         //查询下个月份
--         select date_format(DATE_SUB(curdate(), INTERVAL -1 MONTH), '%m')
    </select>
</mapper>